<!-- expenses/expense_list.html -->
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Expenses Overview</h2>
    <div class="container mb-3">
        <canvas id="expensesChart" width="400" height="400"></canvas>
    </div>
    {% if user.is_superuser %}
    <div class="container">
        <div class="row font-weight-bold">
            <div class="col-6">Driver</div>
            <div class="col-6">Total Expenses</div>
        </div>
        {% for expense in expenses %}
            <div class="row">
                <div class="col-6">{{ expense.user__username }}</div>
                <div class="col-6">${{ expense.total }}</div>
            </div>
        {% endfor %}
    </div>
{% endif %}

</div>
<script>
    var ctx = document.getElementById('expensesChart').getContext('2d');
    var expensesChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Last 7 Days', 'Last Month', 'Today'],
            datasets: [{
                label: 'Expense Distribution',
                data: [
                    {{ total_amount_last_7_days|floatformat:2 }},
                    {{ total_amount_last_month|floatformat:2 }},
                    {{ total_amount_today|floatformat:2 }}
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
        }
    });
</script>
{% endblock %}
