{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Expense Overview</h2>

    <!-- Table for Expenses by User -->
    <h3>Expenses by User</h3>
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>Total Expenses</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.user__username }}</td>
                <td>${{ expense.total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
</div>
{% endblock %}
