<!-- drivers/driver_list.html -->
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Drivers List</h2>
    <a href="{% url 'driver_create' %}" class="btn btn-primary mb-3">Add New Driver</a>

    <div class="list-group">
        <div class="list-group-item d-none d-md-block">
            <div class="row">
                <div class="col-md-4 d-none d-md-block">Name</div>
                <div class="col-md-4 d-none d-md-block">Phone</div>
                <div class="col-md-4 text-right d-none d-md-block">
                    
                </div>
            </div>
        </div>
        {% for driver in drivers %}
        <div class="list-group-item">
            <div class="row" style="text-transform: capitalize;">
                <div class="col-md-4">{{ driver.user }}</div>
                <div class="col-md-4">{{ driver.phone }}</div>
                <div class="col-md-4 text-right">
                    <a href="{% url 'driver_update' driver.id %}" class="btn btn-sm btn-warning">Edit</a>
                    <a href="{% url 'driver_delete' driver.id %}" class="btn btn-sm btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="list-group-item">
            No drivers available.
        </div>
        Í
        {% endfor %}
    </div>
</div>
{% endblock %}
